*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: url(../images/home-bg.webp);
    background-size: cover; 
    background-repeat: no-repeat; 
    padding: 0 0 15rem 0;
}

.sections {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 900px;
    margin: 1rem auto ;
}

.guestSection{
    background-color: #fff;
    border-radius: 5px;
    max-width: 700px;
    padding: 1rem 1.5rem;
}

.homeSection{
    background-color: #fff;
    max-width: 700px;
    border-radius: 5px;
    padding: 1rem 1.5rem;
}

.homeSection h3{
    margin: 0 0 0 10px;
}

.guestSection h3{
    margin: 0 0 0 3px;
}

.homeSection h3, .guestSection h3{
    font-size: 3rem;
    font-weight: 500;
    color: #000;
    text-align: center;
}

.homescore-box, .guestscore-box {
    border: 1px solid #fff;
    text-align: center;
    font-size: 3rem;
    font-weight: 500;
    border-radius: 5px;
    margin: 5px 0 25px 0;
    padding: 15px 5px;
    color: #000;
}

.homeButtons , .guestButtons {
    display: flex;
    gap: 10px;
}

.homeButtons button, .guestButtons button{
    padding: 7px 10px;
    border-radius: 7px;
    border: 1px solid #fff;
    background-color: rgb(35, 47, 212);
    color: #fff;
    cursor: pointer;
    font-weight: 600;
}

.homeButtons button:hover, .guestButtons button:hover{
    color: #fff;
    background-color: rgb(15, 22, 126);
    transition: 0.7s;
}

.save-text{
    width:320px;
    height: 90px;
}

.winner{
    background-color: rgb(24, 157, 161);
    /* color: #fff; */
}

.loser{
    background-color: red;
    /* color: #fff; */
}

.saved{
    font-size: 35px;
    text-align: center;
}

@media screen and (max-width:912px){
    body{
        padding: 12px 2rem;
    }
}

@media screen and (max-width:820px){
    body{
        padding: 12px 1rem;
    }
    .sections {
        max-width: 720px;
    }
    .guestSection, .homeSection{
        padding: 1rem 0.5rem;
    }
}

@media screen and (max-width:768px){
    body{
        padding: 12px 1.2rem;
    }
    .homeSection, .guestSection{
        padding:0.5rem;
    }
}

@media screen and (max-width:540px){
    body{
        padding: 12px 0.2rem;
    }
    .homeButtons, .guestButtons{
        flex-direction:column;
        padding:0 1rem;
    }
    .sections {
        max-width: 620px;
    }
    .save-text{
        padding: 12px 1.2rem;
    }
}

@media screen and (max-width:375px){
    .container{
        max-width: 500px;
        padding: 2rem 1rem;
    }
    .homescore-box, .guestscore-box{
        padding: 10px 20px;
        display: inline-block;
        font-size: 1rem;
    }
    .homeSection h3, .guestSection h3{
        font-size: 1.7rem;
    }
    .homeSection h3, .guestSection h3{
        margin-left: 2.3rem;
    }
    .homeButtons, .guestButtons{
        gap: 5px;
    }
    .homeButtons button, .guestButtons button{
        padding: 4px 9px;
    }
    .sections{
        padding: 0.3rem;
    }
    .sections img{
        display: none;
    }
}
